@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');



body{
			background-color: #f3e0e2;
			font-family: 'Montserrat', sans-serif;
			background: rgb(187,216,251);
			background: radial-gradient(circle, rgb(223, 193, 153) 23%, rgb(224, 194, 212) 100%);
}
p{
	font-family: 'Quicksand', sans-serif;
}
.tab {
    display: inline-block;
    margin-left: 80px;
}
footer{ 
    position: absolute;
    left: 0;
    right: 0;
    background: rgb(39, 26, 9);
    height: auto;
    width:100%;
    padding-top: 40px;
    color: #fff;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3{
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
}

.footer-bottom{
    background: rgb(32, 18, 1);
    width: 97%;
    padding: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.footer-bottom p{
	float: left;
	font-size: 14px;
	word-spacing: 2px;
	text-transform: capitalize;
 }
 .footer-bottom p a{
   color:#44bae8;
   font-size: 16px;
   text-decoration: none;
 }
 .footer-bottom span{
	 text-transform: uppercase;
	 opacity: .4;
	 font-weight: 200;
 }

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;
    border-radius: 50%;
}
.socials a i{
    font-size: 1.1rem;
    width: 20px;
    transition: color .4s ease;
}
.socials a:hover i{
    color: aqua;
}


.boxy{
	border-radius: 30px;
	border:1px solid rgb(73, 72, 72);
}

.boxy a,p{
	 
	padding-left: 50px;
}
.boxy a{
	padding-top: 60px;
}

.user {
	display: inline-block;
	object-fit: cover;
	object-position: 65%;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	transform: translate(0,40%);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
  }
.thumbnail{
	width: 100px;
	height: 100px;
	z-index:500;
	cursor: pointer;
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.3s;
	-webkit-transition-timing-function: ease;
}
	

.thumbnail:hover {
	transform: scale(1.3);
}

.container {
	text-decoration: none;
	padding-top:100px;
}

.container img{
	z-index: -8;
	position: relative;
	width: 80%;
	left:10%;
	height: auto;
	/*filter: blur(4px);
  -webkit-filter: blur(4px);*/
}
.homeimg{
	z-index: 5;
	height: auto;
	object-fit: cover;width:60%;height:auto;
	left: 40%;
	top: 30%;
	position:relative;
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.3s;
	-webkit-transition-timing-function: ease;
}

.homeimg :hover{
	transform: scale(1.3);
	cursor: pointer;
}

.bg-text {
	color: rgb(243, 134, 134);
	width:50%;
	/*background-color: #000000;*/
	position:relative;
	font-weight: 200;
	left: 11%;
	margin-top: -18%;
	margin-bottom: 20%;
	z-index: 2;
	font-family: 'Rubik', sans-serif;
	text-align: left;
	border-radius: 30px;
	/* margin-bottom: 0px; */
	transition: 1s;
	/* animation: mymove 1.85s reverse; */
  }

  /* @keyframes mymove {
	0% {
		bottom:50%;
		left: 13%;
		color: rgb(243, 134, 134);
	}
	3%{
		bottom:48%;
	}
	7%{
		bottom:55%;
	}
	15%{
		bottom:40%;
	}
	25%{
		bottom:70%;
	}
	30%{
		bottom:70%;
		left: 6%;
	}

	65%{left:2%;bottom:35%;}

	100% {
		bottom:100%;
		left:25%;
		color: rgb(133, 100, 223);

	}	
} */

  @keyframes mymove2 {
	0% {
		transform: translate(-65%,-90%);	
	}
	100% {
		transform: translate(-160%,-90%);
	}
	
  }
  :root {
	--shado: 0 2px 28px rgba(0, 0, 0, 0.082), 0 10px 6px rgba(0,0,0,0.22);
	--posy: -80%;
  }
.bg-text h1{
	position: relative;
}
.bg-text b{
	font-weight: 800;
	font-size: 30px;
	font-family: 'Cormorant Garamond', serif;
	transition: all 0.5s;
	text-shadow: var(--shado);
	color:#9448f7;
}
.bg-text span{
	font-weight: 800;
	font-size: 32px;
	/* font-family: 'Cormorant Garamond', serif; */
	font-family: 'Rubik', sans-serif;

	transition: all 0.3s;
	color:#edc9f1;
	text-shadow: var(--shado);
	/* font-size:35px;color:rgb(252, 69, 99) */
}
.bg-text span:hover{
	cursor: pointer;
	color:#000000;
	text-shadow: none;
}

.bg-text a{
	position: absolute;
	font-weight: 800;
	font-size: 32px;
	font-family: 'Cormorant Garamond', serif;
	color:#bd36fc;
	transition: color 1s;
	text-shadow: var(--shado);
	animation: wobble;
  	animation-duration: 1s;
	
	/* font-size:35px;color:rgb(252, 69, 99) */
}
.bg-text a:hover{
	cursor:pointer;
	color:#e4492e;
	text-shadow: none;
	animation: mymove 1.5s reverse;
	animation-delay: 0s;

}

.bg-text c{
	font-weight: 800;
	font-size: 24px;
	color:#f1713e;
		transition: all 0.3s;
	text-shadow: var(--shado);

}
.bg-text c:hover{
	cursor: pointer;
	
	color:#8f434a;
	text-shadow: none;

}
.bg-text b:hover{
	cursor: pointer;
	color:#855b60;
	text-shadow: none;

}

.bg-text p{
	transform: translate(-65%,-90%);
	text-align: right;
	color:#855b60;
	font-family: 'Rubik', sans-serif;
	font-weight: 100;
	font-size: 22px;
	animation: mymove2 1.3s reverse;
}
.nav{
			margin: 0px;
			position:fixed;top: 0;text-align: left;height: calc(60px + 20px);transition: all 0.2s ease-in;
			width: 40%;
			transform: translate(150%,30%);
			z-index:800;
}
.nav a {
			float: left;
			overflow: hidden ;
			justify-content: space-between;
			text-align: center;
			text-decoration: none;
			font-size: 16px;
			color: black;
			border-radius: 30px;
			/*border:3px solid #f4eed8;
			background-color: beige;*/
			font-weight: bold;
			padding: 10px 15px;
			margin: 2px;
			letter-spacing: 1px;
			text-transform: uppercase;
			width: 90px;
			transition: 0.3s;
			box-shadow: var(--shado);
			/* background-color: rgb(224, 202, 172); */
			/*transition: width 0.3s;*/
}


.nav a:hover{
	
	color:brown;
	
	box-shadow: inset 0 0 10px #000000;
}
.nav b{
	float: right;
			overflow: hidden ;
			justify-content: space-between;
			text-align: center	;
			text-decoration: none;
			font-size: 16px;
			color: black;
			border-radius: 30px;
			/*border:3px solid #f4eed8;
			background-color: beige;*/
			font-weight: bold;
			padding: 10px 15px;
			margin: 2px;
			letter-spacing: 1px;
			text-transform: uppercase;
			width: 70px;
			transition: 0.3s;
}

.nav a:active{
	color: rgb(0, 0, 0);
	
}

.nav .bongu{
	color: rgb(97, 75, 110);
	box-shadow: var(--shado);
	box-shadow: inset 0 0 10px #000000;
	/* border-bottom: 7px solid rgb(190, 105, 190); */
	transition: all 0.5s;

}
.nav .bongu:hover{
	border: none;
}

.peep-job{
	overflow-y: scroll;
	/*padding:50px;
	padding-top: 70px;
	position: relative;
	height: 75%;
	margin-top: 1vw;
	width:43%;
	background-color: #eecace;
	border-radius: 20px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); */

	position: relative;
	padding-left:10px;
	padding-top:15px;
	height: 80%;
	margin-top: 6em;
	width:48%;
		/* background: rgb(187,216,251);
		background: radial-gradient(circle, rgb(172, 186, 202) 45%, rgb(223, 193, 153) 100%); */
	margin-left: 1%;
	border-radius: 20px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	overflow-y: scroll;
}
.peep-job a{
	text-decoration: none;
	color: #000000;
	
}
.peep-job h4{
	border-bottom: none;
	font-style:normal;
	color: #000000;
	cursor: pointer;
}
.peep-job h4::after{
	content:'';
	position:relative;
	width:0%;
	height:2px;
	border-radius: 50px;
	transform: translate(-100%,0%);
	background: linear-gradient(to right, rgb(18, 25, 58), #0e3524);
	display:block;
	margin:auto;
	transition: 0.16s ease-in;
	padding-bottom: 0px;
	margin-bottom: 0px;
}
.peep-job h4:hover::after{
	width:33%;
	cursor: pointer;
}
.peep-job ul{
	list-style: none;
	height: 100%;
   margin: 0em;
   padding-top: 15px;
   padding-left: 10px;
}

.peep-job li{
	list-style: none;
	padding-left: 10px;
	padding: 15px;
	display: list-item;
	margin-right: auto;
	border-bottom: 1px solid #000000;
}

.people-container{
	/* overflow-y: scroll;
	padding:50px;
	padding-top: 70px;
	position: relative;
	margin-left:50%;
	margin-top:-40%;	
	width:43%;
	background-color: #eecace;
	border-radius: 20px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); */
	border-radius: 20px;
	padding-left:50px;
	padding-top:50px;
	position: relative;
	height: 77%;
	margin: 0em;
	margin-top: -41%;
	width:45%;
	background: rgb(187,216,251);
		background: radial-gradient(circle, rgb(172, 186, 202) 35%, rgb(223, 193, 153) 100%);
	margin-left: 51%;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	overflow-y: scroll;
	
}

.people-container .manishi{
	display: block;
    overflow: hidden;
	position: sticky;
	padding-top: 10px;
	width: 95%;
	height: 17%;
	margin:-1%;
	margin-bottom: 3%;
	border-radius: 30px;
	background-color:#e27a84;
}
.people-container .manishi a{
	font-weight: 800;
	position: relative;
	padding-left: 16%;
}
.people-container .manishi img{
	margin-left:-3%;
}
.people-container .manishi p{
	z-index: 600;
	font-size:15px;
	position:relative;
	text-align: left;
	margin-top: 1%;
	margin-left: 10%;
}

.people-container .manishi button{
	/* float:right; */
	margin-left: 75%;
	border-radius:5px;
	margin-top: -4%;
	background: linear-gradient(to right, #f386a7, #c494f1);
	
	/*background-color: #b27ae7;*/
	color: #000000;
	font-size: 12px;
	font-weight: 800;
	padding: 10px 15px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: 0.3s;

}

.people-container .manishi button:hover{
	background: linear-gradient(to right, #f0cc85, #ec8656);
	color: #ffffff;
	cursor: pointer;
}

.people-container .manishi img{
	position: absolute;
	width: 100px;
	object-fit: cover;
	height: 100px;
	left:5%;
	top: 10%;
	z-index:100;
	border-radius: 10px;
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.3s;
	-webkit-transition-timing-function: ease;
}

.profile-container{
	padding:50px;
	padding-top: 70px;
	position: absolute;
  	left: 50%;
  	-ms-transform: translateX(-50%);
  	transform: translateX(-50%);
	height: 100%;
	margin: 0em;
	width:50%;
	background-color: #eecace;
	border-radius: 20px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}



.profile-container input[type=text]{
	
	width: 40%;
	height:23;
	border-radius: 30px;
	border:none;
	margin-top: 15px;
	/*background-image: url('searchicon.png');
	background-position: 10px 6px; 
	background-repeat: no-repeat;
	background-size: 12px 12px;*/
	padding: 12px 20px 12px 20px;
	font-family: 'Montserrat', sans-serif;
}

.profile-container a{
	font-family: 'PT Sans', sans-serif;
}

.profile-container button{
	position: absolute;
  	left: 50%;
  	-ms-transform: translateX(-50%);
  	transform: translateX(-50%);
	display:block;
	font-family: 'PT Sans', sans-serif;
	border-radius: 50px;
	border: 1px solid #ffaab6;
	background-color: #eb5569;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: 600;
	padding: 5px 20px;
	letter-spacing: 1px;
	text-align: center;
	justify-content: center;
	text-transform: uppercase;
	width:100px;
	height:30px;
	transition: width 0.3s,height 0.3s;
}
.profile-container button:hover{
	cursor: pointer;
	width: 120px;
	height: 50px;
}
.job-top{
	background: rgb(187,216,251);
	background: radial-gradient(rgb(224, 194, 212) 23%, rgb(223, 193, 153) 100%);
	opacity: 97%;
	height: 20%;
	top:-1%;
	left:-0.1%;
	box-shadow: var(--shado);
	width:110%;
	z-index: 500;
	position: fixed;
	margin-bottom: 500px;
	/* background-image: url('pexels.jpg'); */
}
.job-container{

	position: relative;
	height: 80%;
	margin: 0em;
	width:48%;
	/* background: rgb(187,216,251);
background: radial-gradient(circle, rgb(172, 186, 202) 45%, rgb(223, 193, 153) 100%); */
	background-color: rgb(235, 179, 187);
	margin-left: 1%;
	border-radius: 20px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	overflow-y: scroll;
	
	
}
.job-container a{
	text-decoration: none;
	color: #000000;
	
}
.job-container span{
	margin:0;
	padding:0;
}
.job-container h4{
	border-bottom: none;
	font-style:normal;
	color: #000000;
	cursor: pointer;
	margin:0;
	padding:0;
	font-weight:500;
}
.job-container h4::after{
	content:'';
	position:relative;
	width:0%;
	height:2px;
	border-radius: 50px;
	transform: translate(-100%,0%);
	background: linear-gradient(to right, rgb(18, 25, 58), #0e3524);
	display:block;
	margin:auto;
	transition: 0.16s ease-in;
	padding-bottom: 0px;
	margin-bottom: 0px;
}
.job-container h4:hover::after{
	width:33%;
	cursor: pointer;
}
.job-container ul{
	list-style: none;
	height: 100%;
   margin: 0em;
   padding-top: 15px;
   padding-left: 10px;
}

.job-container li{
	padding-left: 10px;
	padding-bottom: 5px;
	display: list-item;
	margin-right: auto;
	border-bottom: 1px solid rgb(66, 49, 49);
}
.job-container li:hover{
	color: black;
}
.toppies{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 5rem;
	margin: 4rem 5vw;
	padding: 0;
	list-style-type: none;
	margin-bottom: 5%;
	margin-top: 10%;

}
.toppie{
	position: relative;
	display: block;
	height: 8vw;
	width: 20vw;
	border-radius: calc(var(--curve) * 1px);
	overflow: hidden;
	text-decoration: none;
	padding-left: 5%;
	padding-top: 5%;
	box-shadow: var(--shado);
	background-image: url('curcle.jpeg');
}
.searcher{

	/* box-shadow: 0 14px 28px rgba(0, 0, 0, 0.27), 0 10px 10px rgba(109, 86, 24, 0.22); */
	background: -webkit-linear-gradient(to right, rgb(156, 156, 156), rgb(88, 88, 88));
	background: linear-gradient(to right, #143f58, #04293f);
	padding: 1%;
	display:flex;
    flex-flow: row;
	flex-direction: row;
	position: fixed;
	width:97.2%;
	border-radius: 30px;
	height:3%;
	background:none;
	z-index: 500;
}

.searcher form{
	margin-top: 7px;
	display:flex;
	flex-direction: row;
}

.searcher input[type=text]{
	width: auto;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.27), 0 10px 10px rgba(109, 86, 24, 0.22);
	height:23;
	border-radius: 30px;
	border: 50px black;
	background-image: url('searchicon.png');
	background-position: 10px 6px; 
	background-repeat: no-repeat;
	background-size: 12px 12px;
	padding: 12px 20px 12px 40px;
	font-family: 'Montserrat', sans-serif;
	margin-right: 2%;
	
}

.searcher input[type=submit]{
	width: auto;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.27), 0 10px 10px rgba(109, 86, 24, 0.22);
	height:23;
	border-radius: 10px;
	margin-left: 20%;
	padding-left: 20px;
	padding-right: 20px;
	cursor: pointer;
	border: none;
	color: white;
	background:#91806c;
	transition: 0.2s ease-in;
}

.quickfix{
	height:1vw;
	text-align: center;
	text-decoration: none;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.27), 0 10px 10px rgba(109, 86, 24, 0.22);
	border-radius: 10px;
	margin-left: 50%;
	padding: 5px;
	cursor: pointer;
	border: none;
	color: white;
	background:#080500;
	transition: 0.2s ease-in;
}
.quickfix:hover{
	box-shadow: none;
}
.searcher input[type=submit]:hover{
	box-shadow: none;
	background:rgb(105, 105, 105);
}


::-webkit-scrollbar {
	width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	background: #f1bebe; 
	border-radius: 30px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: rgb(189, 143, 143); 
	border-radius: 30px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: #555; 
  }
iframe{
	
	border-radius: 20px;
	position: relative;
	height: 80%;
	margin: 0em;
	margin-top: -40%;
	width:48%;
	background-color: rgb(255, 170, 182);
	/* background: rgb(187,216,251);
background: radial-gradient(circle, rgb(172, 186, 202) 35%, rgb(223, 193, 153) 100%); */
	margin-left: 50%;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	overflow-y: scroll;
	background: none;
}

.btn {
	border-radius: 50px;
	border: 1px solid #ffaab6;
	background-color: #eb5569;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: 600;
	padding: 5px 20px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: 80ms ease-in;
	text-align: left;
	width: 20%;
}
.btn span{
	float: right;
	margin-top: 12.5%;
}
.btn:hover{
	cursor: pointer;
	background-color: #a13c4a;
}

.detail-container{
	border-radius: 20px;
	position: fixed;
	height: 80%;
	margin: 0em;
	width:48%;
	background-color: rgb(255, 255, 228);
	margin-left: 50%;
}

.detail-container ul{
	
	list-style: none;
	height: 100%;
   margin: 0em;
   overflow-y: scroll;
}
/* ------------------------------------ */
.select {
	display:flex;
	flex-direction: column;
	position:relative;
	width:260px;
	height:40px;
	margin-right: 20px;
  }
  
.option {
	padding:0 30px 0 10px;
	min-height:30px;
	display:flex;
	align-items:center;
	background:rgb(175, 129, 129);
	border-top:rgb(163, 163, 163) solid 1px;
	position:absolute;
	top:0;
	width: 140px;
	pointer-events:none;
	order:2;
	z-index:1;
	transition:all .4s ease-in-out;
	box-sizing:border-box;
	overflow:hidden;
	white-space:nowrap;
	transition: all .2s;
	border-radius: 50px;
	
  }
  
  .option:hover {
	background:#666;
  }
  
  .select:focus .option {
	position:relative;
	border-radius:0px;
	pointer-events:all;
  }
  .select:focus input:disabled + label{
	  order:1;
  }
.select input {
	opacity:0;
	position:absolute;
	left:-99999px;
  }
  
.select input:checked + label {
	order: 1;
	z-index:2;
	background:#666;
	border-top:none;
	position:relative;
  }
  
.select input:checked + label:after {
	content:'';
	width: 0; 
	  height: 0; 
	  border-left: 5px solid transparent;
	  border-right: 5px solid transparent;
	  border-top: 5px solid white;
	position:absolute;
	right:10px;
	top:calc(50% - 2.5px);
	pointer-events:none;
	z-index:3;
  }
  
.select input:checked + label:before {
  	position:absolute;
	right:0;
	height: 40px;
	width: 40px;
	content: '';
	background:#666;
  }
/* -------------------------------------------------- */
:root {
	--surface-color: rgb(248, 212, 255);
	--curve: 40;
  }
/*   
  * {
	box-sizing: border-box;
  }
  
  body {
	font-family: 'Noto Sans JP', sans-serif;
	background-color: #fef8f8;
  } */
  
  .cards {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 5rem;
	margin: 4rem 5vw;
	padding: 0;
	list-style-type: none;
	margin-bottom: 5%;
	margin-top: 10%;
  }
  
  
  .card {
	position: relative;
	display: block;
	height: 24vw;
	width: 22vw;
	border-radius: calc(var(--curve) * 1px);
	overflow: hidden;
	text-decoration: none;
	box-shadow: var(--shado);
	/* background-image: url('nais.jfif'); */
	/* object-fit:contain; */
	

}

  
  .card__image {      
	width: 100%;
	height: auto;
  }
  
  .card__overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
	height: 95%;
	border-radius: calc(var(--curve) * 1px);    
	background-color: var(--surface-color);      
	transform: translateY(100%);
	transition: .2s ease-in-out;
	background-image: url('nais.jfif');
	
	

  }
  .card_comp{
	  position: absolute;
	  transform: translateY(-100%);
	  border-radius: calc(var(--curve) * 1px);	
	  transition: .2s ease-in-out;
	  


  }
  .card:hover .card_comp {
	transform: translateY(-30%);
  }
  .card:hover .card__overlay {
	transform: translateY(0);
  }
  
  .card__header {
	position: relative;
	display: flex;
	align-items: center;
	gap: 2em;
	padding-top: 2em;
	padding-left: 2em;
	padding-right: 2em;
	padding-bottom: 1em;
	border-radius: calc(var(--curve) * 1px) 0 0 0;    
	background-color: var(--surface-color);
	transform: translateY(-100%);
	transition: .2s ease-in-out;
	background-image: url('nais.jfif');


  }
  
  .card__arc {
	width: 80px;
	height: 80px;
	position: absolute;
	bottom: 99.9%;
	right: 0;      
	z-index: 1;
  }
  
  .card__arc path {
	fill: #79a0b6;
	d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
	
  }       
  
  .card:hover .card__header {
	transform: translateY(0);
  }
  
  .card__thumb {
	flex-shrink: 0;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	object-fit: cover;
  }
  
  .card__title {
	font-size: 1em;
	margin: 0 0 .3em;
	color: #6A515E;
  }
  
  .card__tagline {
	display: block;
	margin: 1em 0;
	font-weight: 800;
	/* font-family: "MockFlowFont";   */
	font-size: .9em; 
	color: #474747;  
  }
  
  .card__status {
	font-size: .9em;
	/* color: #D7BDCA; */
	color: #302d2f;  

  }
  
  .card__description {
	padding: 0 2em;
	margin: 0;
	color: #313131;
	/* font-family: "MockFlowFont";    */
	display: -webkit-box;
	-webkit-box-orient: vertical;
	height: 300%;
	/* -webkit-line-clamp: 3; */
	overflow: hidden;
	
  }

/* ---------------------------------------------------------------------------------------------------------------------------------------------- */
.wack {
	position: relative;
	background: #2c3e50;

	height: 50vh;
  }
  .wave {
	position: absolute;
	height: 102px;
	width: 100%;
	background: #2c3e50;
	bottom: 0;
  }
  
  .wave::before, .wave::after {
	content: "";
	display: block;
	position: absolute;
	border-radius: 100% 50%;
  }
  
  .wave::before {
	width: 55%;
	height: 109%;
	background-color: none;
	right: -1.5%;
	top: 60%;
  }
  .wave::after {
	width: 55%;
	height: 100%;
	background-color: #2c3e50;
	left: -1.5%;
	top: 40%;
  }
/*-----------DROP DOWN--------
.dropbtn {
	background-color: #68310c;
	color: white;
	transform: translate(0%,-5%);
	margin-left: 20px;
	padding: 7px;
	font-size: 12px;
	border: none;
	border-radius: 20px;
	cursor: pointer;
  }
  

  .dropdown {
	position: relative;
	display: inline-block;
  }
  

  .dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }
  

  .dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
  }
  

  .dropdown-content a:hover {background-color: #f1f1f1}
  

  .dropdown:hover .dropdown-content {
	display: block;
  }
  

  .dropdown:hover .dropbtn {
	background-color: #3e8e41;
  }*/